Flask==0.10.1
Jinja2==2.7.2
MarkupSafe==0.21
Werkzeug==0.9.4
beautifulsoup4==4.3.2
bottlenose==0.6.0
futures==2.1.6
gevent==1.0
greenlet==0.4.2
gunicorn==18.0
itsdangerous==0.24
lxml==3.3.5
mechanize==0.2.5
pymongo==2.7
python-Levenshtein==0.11.2
requests==2.2.1
wsgiref==0.1.2
