Flask==0.10.1
Flask-Compress==1.0.0
Flask-S3==0.1.6
Flask-WebCache==0.9.1
Jinja2==2.7.2
MarkupSafe==0.21
WebOb==1.4
Werkzeug==0.9.4
algoliasearch==1.2.10
beautifulsoup4==4.3.2
bleach==1.4
blinker==1.3
boto==2.28.0
bottlenose==0.6.0
bugsnag==2.0.1
futures==2.1.6
gevent==1.0.1
greenlet==0.4.2
gunicorn==18.0
hashids==1.0.0
html5lib==0.999
itsdangerous==0.24
lxml==3.3.5
mechanize==0.2.5
newrelic==2.18.1.15
pymongo==2.7
python-Levenshtein==0.11.2
python-binary-memcached==0.24
requests==2.2.1
sendgrid==0.5.1
six==1.6.1
smtpapi==0.1.2
unittest2==0.5.1
urllib3==1.8.2
wsgiref==0.1.2
