body {
  padding-top: 50px;
}
.main {
	font-size: 110%;
	padding: 40px 15px;
}

.mit_logo {
	height: 25px;
	vertical-align: -2px;
}

.glyphicon {
	top: 2px;
}

.center {
	text-align:center;
}

blockquote{
	font-size: 105%;
}

.sub_heading {
	font-size:120%
}

.modal-footer {
	margin-top: 0px;
}

.slash {
	padding: 0 5px;
	color: #cccccc;
}

.prime {
	vertical-align: -1px;
}

#sidebar.affix-top {
	position: static;
}

#sidebar.affix {
	position: fixed;
	top:70px;
}

@media only screen and (min-width : 769px) {
	.mit_logo {
		height: 35px;
		vertical-align: -5px;
	}
	#search {
		padding-top: 13px;
		position: relative;
		left: 47px;
	}
	
	.navbar-brand {
		font-size: 250%;
		padding-top: 16px;
	}
	.navbar {
		min-height: 70px;
	}

}

