{% extends "_base.html" %}
{% block title %}Internal Server Error{% endblock %}
{% block body %}

<h1>Internal Server Error</h1>

<div class="row">
	<div class="col-sm-12">
		<p>
			Oops! Something went seriously wrong, and an internal error has occurred.
		</p>
		<p>
			The administrators have already been notified, but if you have any further questions, please don't hesitate to
			<a class="btn btn-success btn-xs" onclick="$('#feedback_modal').modal();">
				contact support
			</a>.
		</p>
		<p>
			For your reference, the error that lead you here is <code>{{ e }}</code>.
		</p>
	</div>
</div>


{% endblock %}