<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{% block title %}{% endblock %} - MIT Textbooks</title>

  <!-- Meta -->
  <meta name="description" content="{% block description %}{% endblock %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% block meta %}{% endblock %}
  
  <!-- Link -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

  {% block link %}{% endblock %}

  <!-- CSS -->

  {% block css %}{% endblock %}

  <!-- JS -->
  <script src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js'></script>
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  {% block js %}{% endblock %}

</head>
<body>

  <!-- Header -->
  {% include 'header.html' %}

  {% block header %}{% endblock %}

  
  <!-- Body -->
  {% block body %}{% endblock %}


  <!-- Footer -->  
  {% block footer %}{% endblock %}

  {% include 'footer.html' %}

</body>
</html>