<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{% block title %}{% endblock %} - MIT Textbooks</title>

  <!-- Meta -->
  <meta name="description" content="{% block description %}{% endblock %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% block meta %}{% endblock %}
  
  <!-- Link -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

  {% block link %}{% endblock %}

  <!-- CSS -->

  {% block css %}{% endblock %}

  <!-- JS -->
  <script src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js'></script>
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.0/jquery.cookie.min.js"></script>
  {% block js %}{% endblock %}

</head>
<body>

  <!-- Header -->
  {% include 'header.html' %}

  {% block header %}{% endblock %}

  
  <!-- Body -->
  {% block body %}{% endblock %}


  <!-- Footer -->  
  {% block footer %}{% endblock %}

  {% include 'footer.html' %}

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-45034901-1', 'mit.edu');
    ga('send', 'pageview');
    var trackOutboundLink = function(url, c) {
     ga('send', 'event', 'outbound', 'amazon', url, c, {'hitCallback':
       function () {
       document.location = url;
       }
     });
  }
  </script>
  <script>
  {% if not g.user %}
    if ($.cookie('id_email') == undefined || $.cookie('id_name') == undefined || $.cookie('id_phone') == undefined) {
        $.get( "https://tb.mit.edu:444/auth/auth.py", function(data) {
          $.cookie('id_email', data.email);
          $.cookie('id_name', data.name);
          $.cookie('id_phone', data.phone);
          ga('send', 'event', 'view', 'user', data.email);
          ga('set', '&uid', data.email);
          location.reload();
        });
    }
  {% else %}
      ga('send', 'event', 'view', 'user', "{{ g.user.get_id() }}");
      ga('set', '&uid', "{{ g.user.get_id() }}");
  {% endif %}
  </script>
</body>
</html>