<a id='{{ class_obj.id }}'></a>
<h1>{{ class_obj.display_name() }}</h1>
<p><blockquote>{{ class_obj.description }}</blockquote></p>
<p>
	{% if class_obj.is_currently_available() %}
	{{ class_obj.id }} is currrently being offered! This semester, it is taught by 
	{% else %}
	{{ class_obj.id }} is not currently being offered. It will be available in the {{ class_obj.formatted_availability() }}, and will be taught by
	{% endif %}
	{% for instructor in class_obj.current_instructors() %}
	<a href="{{ url_for('professor_evaluation_view', class_id=class_obj.id, professor=instructor|last_name) }}" target='_blank'>{{ instructor }}</a>{% if not loop.last and loop.revindex0 != 1 %}, {% elif loop.revindex0 == 1 %} and {% elif loop.last %}.{% endif %}
	{% endfor %}
</p>
<p>
	This class counts for a total of
	<a class="popover_activate" data-container="body" data-toggle="popover" data-placement="top" data-content="{{ class_obj.units[0] }} lecture, {{ class_obj.units[1] }} lab, {{ class_obj.units[2] }} homework">{{ class_obj.units|sum }} credits</a>.
</p>
<p>
	In the {{ class_obj.evaluation[2] }} Subject Evaluations, {{ class_obj.id }} was rated <a class="popover_activate" data-container="body" data-toggle="popover" data-placement="top" data-content="{{ class_obj.evaluation[1] }} response rate">{{ class_obj.evaluation[0] }}</a>.

	You can find more information {% if class_obj.ocw_site_url() %}on MIT OpenCourseWare{% endif %} at the <a href="{{ url_for('site_view', class_id=class_obj.id) }}" target='_blank'>{{ class_obj.class_site[0] }}</a> site
	{% if class_obj.stellar_url %}
	or on the <a href="{{ url_for('stellar_view', class_id=class_obj.id) }}" target='_blank'>{{ class_obj.id }} Stellar site</a>.
	{% else %}
	.
	{% endif %}
</p>

	{% for title, section in class_obj.textbooks.sections.iteritems() %}
	<div class="panel panel-default">
		<div class="panel-heading">{{ title }}</div>
		<div class="panel-body">Save up to {{ section|section_saved }} by purchasing through MIT Textbooks!</div>
		<div class="list-group">
			{% for textbook in section %}
				<a href="javascript:$('#modal_{{ class_obj.safe_id() }}_{{ textbook|tb_id }}').modal();" class="list-group-item">
					<h4 class="list-group-item-heading"><i>{{ textbook.title }}</i> by {{ textbook.author }}</h4>
					<p class="list-group-item-text">
						{% for label, price in (textbook|prices) %}
						${{ price }} {{ label }} {% if not loop.last %} <span class='slash'>/</span> {% endif %}
						{% endfor %}
						{% if textbook.availability %}<br> {{ textbook.availability }} {% if textbook.prime %} <img class='prime' src="{{ url_for('static', filename='images/prime.png') }}" alt='Amazon Prime'> {% endif %}{% endif %}
					</p>
				</a>
				{% include '_textbook_modal.html' %}
				{% include '_sell_modal.html' %}
			{% endfor %}
		</div>	
	</div>
	{% endfor %}

<script>
$('.popover_activate').popover();
</script>