<div class='modal fade' data-backdrop='static' data-keyboard='true' tabindex='-1' id='gcal_modal'>
  <div class='modal-dialog'>
  <div class='modal-content'>
    <div class='modal-header'>
    <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
    <h4 class='modal-title'>Select Calendar</h4>
    </div>
    <div class='modal-body'>
    <form class='form-horizontal' role='form'>
      <div class='form-group'>
        <label for='year' class='col-lg-2 control-label'>Calendar</label>
        <div class='col-lg-10'>
          <select name='calendar' id="calendar_choices" class='form-control'>
          </select>
        </div>
      </div>
      <div class='form-group'>
        <div class='col-lg-10'>
          <p id="gcal_message" style="color: #469408;"></p>
        </div>
      </div>
    </form>
    </div>
    <div class='modal-footer'>
    <button type='button' id="gcal_btn" onclick="handleGoClick($('#calendar_choices').val());" class='btn btn-primary'>Submit</button>
    </div>
  </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
var resources = {{ classes|gcal_events|tojson|safe }};

function makeApiCall2 (calendarId) {
  $("#gcal_btn").attr("disabled", "disabled")
  var left = Object.keys(resources).length;
  gapi.client.load('calendar', 'v3', function() {
    $.each(resources, function(i, resource) {
      resource.summary = unescapeHtml(resource.summary);
      var request = gapi.client.calendar.events.insert({
        'calendarId': calendarId,
        'resource': resource
      });
      request.execute(function(resp) {
        $("#gcal_message").text("Adding " + resource.summary);
        left --;
        if (left == 0){
          $("#gcal_message").text("Finished adding {{ group_obj.class_ids|length }} classes starting on {{ ''|term_start_formatted }}!");
          $("#gcal_btn").text("Close");
          $("#gcal_btn").removeAttr("disabled");
        }
      });
    });
  });
}
</script>

<script type="text/javascript" src="{{ url_for('static', filename='js/cal.js') }}?{{ ''|get_cache_buster }}"></script>

<script>
$(document).ready(function() {
  $("#gcal").click(function () {
     handleAuthClick();
  });
});
</script>

<script src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>
