{% extends "_base.html" %}
{% block title %}{{ g.user.name }}'s Account{% endblock %}
{% block body %}
<h1>{{ g.user.name }}'s Account</h1>

{% if g.user.is_admin() %}
<div class="panel panel-default">
	<div class="panel-heading">Admin</div>
	<div class="list-group">
		<a class="list-group-item">
			<h4 class="list-group-item-heading">Worker Queue</h4>
			<p class="list-group-item-text">{{ 'worker'|queue_length }} pending classes across 4 workers</p>
		</a>
		<a class="list-group-item">
			<h4 class="list-group-item-heading">Recommender Queue</h4>
			<p class="list-group-item-text">{{ 'recommender'|queue_length }} pending recommendations across 4 recommenders</p>
		</a>
		<a class="list-group-item">
			<h4 class="list-group-item-heading">Cached Classes</h4>
			<p class="list-group-item-text">{{ ''|classes_length }} classes cached in the database</p>
			<p class="list-group-item-text">{{ ''|errors_length }} misses logged in the database</p>
		</a>
	</div>
</div>
{% endif %}

<div class="panel panel-default">
	<div class="panel-heading">Mobile Login Details</div>
	<div class="list-group">
		<a class="list-group-item">
			<h4 class="list-group-item-heading">Username</h4>
			<p class="list-group-item-text">{{ g.user.get_id() }}</p>
		</a>
		<a class="list-group-item">
			<h4 class="list-group-item-heading">Password</h4>
			<p class="list-group-item-text">{{ g.user.get_password() }}</p>
		</a>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">Postings</div>
	<div class="list-group">
		{% for offer in g.user.get_postings() %}
		<a href='javascript:$("#modal_{{ offer._id }}").modal();' class="list-group-item">
			{% set class_obj = offer.class_id|id_to_obj %}
			{% set textbook = offer.class_id|tb_id_to_tb(offer.tb_id) %}
			<h4 class="list-group-item-heading"><i>{{ textbook.title|safe }}</i> by {{ textbook.author }}</h4>
			<p class="list-group-item-text">
				{{ offer.class_id }} <span class='slash'>/</span> ${{ offer.price }} Asking <span class='slash'>/</span> {{ offer.condition }} Condition
			</p>
		</a>
		{% include '_offer_modal.html' %}
		{% endfor %}
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">Saved Class Groups</div>
	<div class="list-group">
		{% for group in g.user.get_groups() %}
			<a href="{{ url_for('group_view', group_id=group.name) }}" class="list-group-item{% if group.active %} list-group-item-success{% endif %}">
				<h4 class="list-group-item-heading">{{ group.name }}</h4>
				<p class="list-group-item-text">{{ group.class_ids|space_out }}</p>
			</a>
		{% endfor %}
	</div>
</div>

{% if g.user.get_active_group() %}
	<div class="panel panel-default">
		<div class="panel-heading">Compare Active Class Group</div>
		<div class="list-group">
			<div class='list-group-item'>
				<input type='email' id='compare_email' placeholder='kerberos' style='height: 35px;'>
				<button type='button' class='btn btn-primary' id='compare_btn' onclick="compare();" style="vertical-align: 1px;">Go</button>
				<br><br>
				<p class="list-group-item-text text-danger" id='compare_error'></p>
			</div>
		</div>
	</div>
	<script>
		function compare() {
			$('#compare_btn').attr('disabled', true);
			var compareUrl = "{{ url_for('compare_view', email='EMAIL') }}".replace('EMAIL', $('#compare_email').val());
			$.get(compareUrl).then(function(result) {
				$('#compare_btn').attr('disabled', false);
				if(result.error) {
					$('#compare_error').text(result.message);
				} else {
					window.location = "{{ url_for('go_view', search_term='SEARCH_TERM') }}".replace('SEARCH_TERM', result.class_ids);
				}
			});
		}
	</script>
{% endif %}

{% endblock %}
