{% extends "_base.html" %}
{% block title %}{{ g.user.name }}'s Account{% endblock %}
{% block body %}
<h1>{{ g.user.name }}'s Account</h1>

{% if g.user.is_admin() %}
<div class="panel panel-default">
	<div class="panel-heading">Admin</div>
	<div class="list-group">
		<a class="list-group-item">
			<h4 class="list-group-item-heading">Queue</h4>
			<p class="list-group-item-text">{{ ''|queue_length }} pending items across 3 workers</p>
		</a>
		<a class="list-group-item">
			<h4 class="list-group-item-heading">Classes</h4>
			<p class="list-group-item-text">{{ ''|classes_length }} classes cached in the database</p>
		</a>
	</div>	
</div>
{% endif %}

<div class="panel panel-default">
	<div class="panel-heading">Postings</div>
	<div class="list-group">
		{% for offer in g.user.get_postings() %}
		<a href='javascript:$("#modal_{{ offer._id }}").modal();' class="list-group-item">
			{% set class_obj = offer.class_id|id_to_obj %}
			{% set textbook = offer.class_id|tb_id_to_tb(offer.tb_id) %}
			<h4 class="list-group-item-heading"><i>{{ textbook.title }}</i> by {{ textbook.author }}</h4>
			<p class="list-group-item-text">
				{{ offer.class_id }} <span class='slash'>/</span> ${{ offer.price }} Asking <span class='slash'>/</span> {{ offer.condition }} Condition
			</p>
		</a>
		{% include '_offer_modal.html' %}
		{% endfor %}
	</div>	
</div>

<div class="panel panel-default">
	<div class="panel-heading">Saved Class Groups</div>
	<div class="list-group">
		{% for group in g.user.get_groups() %}
			<a href="{{ url_for('group_view', group_id=group.name) }}" class="list-group-item">
				<h4 class="list-group-item-heading">{{ group.name }}</h4>
				<p class="list-group-item-text">{{ group.class_ids|space_out }}</p>
			</a>
		{% endfor %}
	</div>	
</div>

{% endblock %}