{% extends "_base.html" %}
{% block title %}{{ k }}: {{ v }}{% endblock %}
{% block description %}The highest-ranked MIT classes, as chosen by the undergraduate students, filtered by {{ k }}: {{ v }}.{% endblock %}
{% block css %}<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">{% endblock %}

{% block meta %}
<link rel='canonical' href="{{ url_for('class_kv_view', key=k, value=v, _external=True) }}">
<meta property="og:url" content="{{ url_for('class_kv_view', key=k, value=v, _external=True) }}">
{% endblock %}

{% block body %}

<div>
	<h1>Top-Ranked Classes ({{ k }}: {{ v }})</h1>
</div>

<br>

{% include '_classes.html' %}

{% endblock %}