{% extends "_base.html" %}
{% block title %}{{ class_obj.name }}{% endblock %}
{% block description %}Buy and sell both new and used textbooks for {{ class_obj.display_name() }} at MIT Textbooks. {{ class_obj.summary() }}{% endblock %}
{% block og_description %}Buy and sell both new and used textbooks for {{ class_obj.display_name() }} at MIT Textbooks. {{ class_obj.summary() }}{% endblock %}

{% block meta %}
<link rel='canonical' href="{{ url_for('class_view', class_id=class_obj.id, _external=True) }}">
<meta property="og:url" content="{{ url_for('class_view', class_id=class_obj.id, _external=True) }}">
{% endblock %}

{% block img %}
{% if class_obj.image() %}
<meta property="og:image" content="{{ class_obj.image() }}">
{% else %}
<meta property="og:image" content="{{ url_for('static', filename='images/seal.jpg', _external=True) }}">
{% endif %}
{% endblock %}

{% block body %}

{% include '_class.html' %}

<script>
function share() {
	FB.ui({
	  method: 'feed',
	  link: "{{ url_for('class_view', class_id=class_obj.id, _external=True) }}",
	  caption: 'Check out {{ class_obj.display_name() }} on MIT Textbooks!',
	}, function(response){});
}
</script>

{% endblock %}