<hr>
<div class="row">
    <div class="col-xs-4">
        <p>
            {% if g.user %}
            <a class="btn btn-primary btn-sm" href="{{ url_for('account_view') }}">My Account</a>
            {% if group_obj %}
            {% if not group_obj.named %}
            <a href="#" class="btn btn-primary btn-sm" onclick="$('#save_modal').modal();">Name Group</a>
            {% elif group_obj.user_id == g.user.get_id() %}
            <a href="{{ url_for('delete_group_view', group_id=group_obj.name) }}" class="btn btn-primary btn-sm btn-danger">Delete Group</a>
            {% endif %}
            {% endif %}
            {% else %}
            <a class="btn btn-primary btn-sm hide-on-native" onclick="resetCookies();$('#login_modal').modal();">Login</a>
            <a class="btn btn-primary btn-sm show-on-native" href="{{ url_for('login_view') }}">Login</a>
            {% endif %}
        </p>
    </div>
    <div class="col-xs-4 text-center">
        <p>
            <a onclick="$('#special_modal').modal()" class="btn btn-primary btn-sm hidden-xs hide-on-native">Special Pages</a>
        </p>
    </div>
    <div class="col-xs-4 text-right">
        <p>
            <a onclick="$('#feedback_modal').modal();" class="btn btn-primary btn-sm">Feedback</a>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-xs-6">
        <p>
            {% if g.user %}
            You are logged in as {{ g.user.name }}<br>
            {% endif %}
        </p>
    </div>
    <div class="col-xs-6 text-right">
        <p class='hide-on-native'>
            &copy; Copyright 2014 <a href='http://www.yasyf.com' class='hidden-xs' target='_blank'>Yasyf Mohamedali</a>
        </p>
    </div>
</div>

{% if g.user %}
{% if group_obj %}
{% if not group_obj.named %}
<div class='modal fade' id='save_modal'>
    <div class='modal-dialog'>
        <div class='modal-content'>
          <div class='modal-header'>
            <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
            <h4 class='modal-title'>Name Class Group</h4>
          </div>
          <div class='modal-body'>
            <form class='form-inline' role='form'>
              <div class='form-group'>
                    <p class='text-danger' id='save_error'></p>
                    https://tb.mit.edu/<input type='text' id='save_name' style='width:300px' class='form-control' name='course_name' pattern='[a-zA-Z0-9]+'>
              </div>
            </form>
          </div>
          <div class='modal-footer'>
            <button type='button'  data-dismiss='modal' class='btn btn-primary'>Close</button>
            <button type='button'  onclick='save_group();' class='btn btn-primary'>Submit</button>
          </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
function save_group(){
    name = $('#save_name').val().replace(" ","");
    url = "{{ url_for('name_group_view', group_id=group_obj.hash, group_name='GROUP_NAME') }}".replace("GROUP_NAME",name);
    $.getJSON(url, function(data) {
      if (data.error == true){
            $('#save_error').text(data.message);
        }
      else{
            window.location = "{{ url_for('group_view', group_id='GROUP_NAME') }}".replace("GROUP_NAME",name);
        }
    });
}
</script>
{% endif %}
{% endif %}
{% else %}
<div class='modal fade' id='login_modal'>
    <div class='modal-dialog'>
        <div class='modal-content'>
          <div class='modal-header'>
            <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
            <h4 class='modal-title'>Login To MIT Textbooks</h4>
          </div>
          <div class='modal-body'>
            <p>In order to login to MIT Textbooks, you must have your personal certificates installed in your browser. You can also use all of the site without logging in.</p>
            <p>To install your certificates, visit the <a href="http://kb.mit.edu/confluence/display/istcontrib/Certificates+at+MIT" target="_blank">Certificates at MIT</a> page on the IS&amp;T Knowledge Base. To verify you have installed them correctly, use the <a href="http://web.mit.edu/certificates/test/" target='_blank'>Certificate Test Page</a>.</p>
            <p>If you are seeing this message and have already installed your certificates, it's possible that you clicked 'Cancel' when your browser requested which certificate to present. If this is the case, you will have to restart your browser before it will prompt you to login again.</p>
          </div>
          <div class='modal-footer'>
            <button type='button'  data-dismiss='modal'  class='btn btn-primary'>Close</button>
          </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endif %}
<div class='modal fade' id='special_modal'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
        <h4 class='modal-title'>Special Pages</h4>
      </div>
      <div class='modal-body'>
        <p class='center'>
            <a data-toggle='modal' href='{{ url_for('textbooks_view') }}' class='btn btn-info'>Local Textbooks</a>
            <a data-toggle='modal' href='{{ url_for('all_classes_view') }}' class='btn btn-info'>All Classes</a>
            <br><br>
            <a data-toggle='modal' href='{{ url_for('class_kv_view', key='hass', value='A') }}' class='btn btn-info'>HASS A</a>
            <a data-toggle='modal' href='{{ url_for('class_kv_view', key='hass', value='H') }}' class='btn btn-info'>HASS H</a>
            <a data-toggle='modal' href='{{ url_for('class_kv_view', key='hass', value='S') }}' class='btn btn-info'>HASS S</a>
      </div>
      <div class='modal-footer'>
        <button type='button'  data-dismiss='modal' class='btn btn-primary'>Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class='modal fade' id='feedback_modal'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
        <h4 class='modal-title'>Feedback on MIT Textbooks</h4>
      </div>
      <div class='modal-body'>
        <p class='center'>
            <a data-toggle='modal' href='mailto:tb_support@mit.edu?subject=Feedback' class='btn btn-info'><span class='glyphicon glyphicon-send'></span> &nbsp; Email Support</a>
            <a data-toggle='modal' target='_blank' href='https://mail.google.com/mail/?view=cm&amp;fs=1&amp;to=tb_support@mit.edu&amp;su=Feedback' class='btn btn-info'><span class='glyphicon glyphicon-send'></span> &nbsp; Gmail Support</a>
            <a data-toggle='modal' onclick='$("#feedback_info_modal").modal();' class='btn btn-info'><span class='glyphicon glyphicon-envelope'></span> &nbsp; Contact Support</a>
        </p>
      </div>
      <div class='modal-footer'>
        <button type='button'  data-dismiss='modal' class='btn btn-primary'>Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class='modal fade' id='feedback_info_modal'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
        <h4 class='modal-title'>Support Contact Information</h4>
      </div>
      <div class='modal-body'>
        <p>Email: tb_support@mit.edu</p>
      </div>
      <div class='modal-footer'>
        <button type='button'   data-dismiss='modal'  class='btn btn-primary'>Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->