{% extends "_base.html" %}
{% block title %}Mobile Password{% endblock %}
{% block body %}
<h1>Mobile Password</h1>

{% if g.user and g.user.is_mobile_locked_out() %}
<p>
  You account has been locked out, as you have tried to login on mobile too many times.
</p>
<p>
  Please login to the site on a desktop computer, and visit the 'Account' page to unlock your account.
</p>
{% elif g.user %}
<p>
  Your current mobile password has been emailed to you. Please check your MIT email to login.
</p>
{% else g.user %}
<p>
  Please log in with any incorrect password. Your actual password will then be emailed to you.
</p>
{% endif %}
<p>
  Your current mobile password can be found on the same 'Account' page.
</p>
{% endblock %}
