{% extends "_base.html" %}
{% block title %}{{ group_obj.display_name() }}{% endblock %}
{% block og_title %}{{ group_obj.display_name() }}{% endblock %}
{% block description %}{{ group_obj.display_description(classes|get_display_names) }}{% endblock %}
{% block og_description %}{{ group_obj.display_description(classes|get_display_names) }}{% endblock %}

{% block meta %}
<link rel='canonical' href="{{ url_for('group_view', group_id=group_obj.slug(), _external=True) }}">
<meta property="og:url" content="{{ url_for('group_view', group_id=group_obj.slug(), _external=True) }}">
{% endblock %}

{% block img %}
{% if classes|image %}
<meta property="og:image" content="{{ classes|image }}">
{% else %}
<meta property="og:image" content="{{ url_for('static', filename='images/seal.jpg', _external=True) }}">
{% endif %}
{% endblock %}

{% block body %}

<p>
	<h1>{% if group_obj.named %} {{ group_obj.name }} {% else %} {{ group_obj.class_ids|length }} Classes {% endif %} ({{ classes|sum_units }} Units)</h1>
	{% for class_obj in classes %}
	<strong class='sub_heading'><a href="#{{ class_obj.id }}">{{ class_obj.id }}</a></strong> ({{ class_obj.units|sum }}){% if not loop.last %},{% endif %}
	{% endfor %}
</p>
<p>
	{% if g.user %}
	<button type="button" class="btn btn-primary btn-sm" onclick="$('#courseroad_modal').modal();">
		CourseRoad
	</button>
	{% endif %}
	<a class="btn btn-primary btn-sm" target="_blank" href="http://student.mit.edu/ent/cgi-bin/sfprwtrm.sh?{{ ','.join(group_obj.class_ids) }}">
		Pre-Register
	</a>
	<button type="button" class="btn btn-primary btn-sm" onclick="share();">Facebook</button>
	<button type="button" class="btn btn-primary btn-sm" onclick="$('#calendar_modal').modal();">Calendar</button>
</p>
<hr>
{% for class_obj in classes %}
{% include '_class.html' %}
{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}

<div class='modal fade' data-backdrop='static' data-keyboard='true' tabindex='-1' id='courseroad_modal'>
  <div class='modal-dialog'>
	<div class='modal-content'>
	  <div class='modal-header'>
		<button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
		<h4 class='modal-title'>Export To CourseRoad</h4>
	  </div>
	  <div class='modal-body'>
		<form class='form-horizontal' role='form' method="POST" target="_blank" action="{{ url_for('courseroad_export_view', class_ids=group_obj.class_ids|join(',')) }}" id="courseroad_form">
			<div class='form-group'>
				<label for='year' class='col-lg-2 control-label'>Year</label>
				<div class='col-lg-10'>
				  <select name='year' class='form-control'>
				  <option value='1' {% if session.year == 1 %}selected{% endif %}>Freshman</option>
				  <option value='2' {% if session.year == 2 %}selected{% endif %}>Sophomore</option>
				  <option value='3' {% if session.year == 3 %}selected{% endif %}>Junior</option>
				  <option value='4' {% if session.year == 4 %}selected{% endif %}>Senior</option>
				</select>
				</div>
			</div>
			<div class='form-group'>
			  <label for='semester' class='col-lg-2 control-label'>Semester</label>
				<div class='col-lg-10'>
				  <select name='semester' class='form-control'>
				  <option value='1' {% if session.semester == 1 %}selected{% endif %}>Fall</option>
				  <option value='2' {% if session.semester == 2 %}selected{% endif %}>IAP</option>
				  <option value='3' {% if session.semester == 3 %}selected{% endif %}>Spring</option>
				  <option value='4' {% if session.semester == 4 %}selected{% endif %}>Summer</option>
				</select>
				</div>
			</div>
		</form>
	  </div>
	  <div class='modal-footer'>
		<button type='button' onclick="$('#courseroad_form').submit();" class='btn btn-primary'>Submit</button>
	  </div>
	</div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class='modal fade'  data-backdrop='static' data-keyboard='true' tabindex='-1' id='calendar_modal'>
  <div class='modal-dialog' style='width:95%;'>
	<div class='modal-content'>
	  <div class='modal-header'>
		<button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
		<h4 class='modal-title'>Calendar View</h4>
	  </div>
	  <div class='modal-body'>
		<iframe src="{{ url_for('calendar_view', group_id=group_obj.slug()) }}" style="width:100%; height: 500px;" frameborder="0"></iframe>
	  </div>
	  <div class='modal-footer'>
		<button type='button' data-dismiss='modal' id='gcal' class='btn btn-primary'>Export To Google Calendar</button>
	  </div>
	</div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% include '_google_cal.html' %}

  <script>
  function share() {
    FB.ui({
      method: 'feed',
      link: "{{ url_for('group_view', group_id=group_obj.slug(), _external=True) }}",
      caption: 'Check out {{ group_obj.display_name() }} on MIT Textbooks!',
    }, function(response){});
  }
  </script>

{% endblock %}