{% extends "_base.html" %}
{% block title %}Textbook Search{% endblock %}
{% block body %}
<p>MIT Textbooks is a search engine for all your classes, as well as a marketplace for buying and selling new and used textbooks from other MIT students and online vendors.</p>
<p>We try to find you the best price, as well as the most convenient delivery options. To begin, use search bar above to find a class, or search for multiple classes by separating them with a comma.</p>

{% include '_search.html' %}

<ul>
	{% for r in recent %}
	<li><a href="{{ url_for('class_view',class_id=r.class) }}">{{ (r.class|id_to_obj).display_name() }}</a></li>
	{% endfor %}
</ul>

{% endblock %}