{% extends "_base.html" %}
{% block title %}Textbook Search{% endblock %}
{% block og_title %}Textbook Search{% endblock %}
{% block description %}A search engine for all your MIT classes, complete with links to the cheapest textbooks online. Includes tons of relevant class info, a built-in scheduler, textbook marketplace, and more.{% endblock %}
{% block og_description %}A search engine for all your MIT classes, complete with links to the cheapest textbooks online. Includes tons of relevant class info, a built-in scheduler, textbook marketplace, and more.{% endblock %}
{% block meta %}
<link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/ndgcomkciihbdocdhnhaekkkgblcgcml">
<link rel='canonical' href="{{ url_for('index_view', _external=True) }}">
<meta property="og:url" content="{{ url_for('index_view', _external=True) }}">
{% endblock %}
{% block js %}<script src="{{ url_for('static', filename='js/jquery.easy-ticker.min.js') }}"></script>{% endblock %}
{% block body %}
<div class='hide-on-native'>
	<p>
		MIT Textbooks is a search engine for all your classes, as well as a marketplace for buying and selling new and used textbooks from other MIT students and online vendors. We try to find you the best price, as well as the most convenient delivery options for all your class textbooks.
	</p>
	<p>
		Don't forget, as an MIT student, you also get access to <strong>free</strong> two-day shipping with <a href="{{ url_for('amazon_prime_student_view') }}" target="_blank">Amazon Prime Student</a>.
	</p>
	<p>
		Searching for a class pulls up all the information you could ever want, along with links to the cheapest copies of the textbooks available online. If you search for a group of classes, you can also export them to CourseRoad, name and share them, or view and export them to your calendar.
	</p>
	<p>
		Use search bar above to find a class. You can search for multiple classes by separating them with a comma.
	</p>
	<p id='mit-tb-cr-ext'>
		Check out our <a onclick='showExtension();' class='btn btn-primary btn-xs'>Chrome Extension</a> for clickable class names on any website.
	</p>
	<p>
		If you find the site useful, be sure to tell your friends and give us a like on Facebook!
	</p>

	<div
	class="fb-like"
	data-send="false"
	data-width="450"
	data-href="https://www.facebook.com/MITTextbooks"
	data-layout="standard"
	data-action="like"
	data-show-faces="true"
	data-share="false">
	</div>
</div>

<hr style="margin-top: 15px;" class='hide-on-native'>

<div class="panel panel-default">
	<div class="panel-heading"></span><b>Recent Searches</b></div>
		<div class="list-group recents">
			<div style="width: 100%">
				{% for r in recent %}
					<div>
						<a href="{{ url_for('class_view',class_id=r.class) }}" class="list-group-item">
							<h4 class="list-group-item-heading">{{ r.display_name|safe }}</h4>
							<p class="list-group-item-text">{{ r.description|safe }}</p>
						</a>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}?{{ ''|get_cache_buster }}"></script>
{% endblock %}