{% extends "_base.html" %}
{% block title %}Textbook Search{% endblock %}
{% block js %}<script src="{{ url_for('static', filename='js/jquery.easy-ticker.min.js') }}"></script>{% endblock %}
{% block body %}
<p>MIT Textbooks is a search engine for all your classes, as well as a marketplace for buying and selling new and used textbooks from other MIT students and online vendors. We try to find you the best price, as well as the most convenient delivery options.</p>
<p>To begin, use search bar above to find a class, or search for multiple classes by separating them with a comma.</p>


<div class="panel panel-default">
	<div class="panel-heading"></span><b>Recent Searches</b></div>
		<div class="list-group recents">
			<div style="width: 100%">
				{% for r in recent %}
					<div>
						<a href="{{ url_for('class_view',class_id=r.class) }}" class="list-group-item">
							<h4 class="list-group-item-heading">{{ r.display_name }}</h4>
							<p class="list-group-item-text">{{ r.description }}</p>
						</a>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

<script>
$('.recents').easyTicker({
	direction: 'up',
	speed: 'slow',
	interval: 4500,
	height: 'auto',
	visible: 5,
	mousePause: 1
});
</script>

{% endblock %}