{% extends "_base.html" %}
{% block title %}Loading...{% endblock %}
{% block meta %}<meta http-equiv="refresh" content="60;url={{ url_for('loading_view', class_ids=class_ids) }}">{% endblock %}
{% block body %}

<div class="row">
	<div class="col-sm-12">
		<p>Please be patient while we collect the latest information on your classes.</p>
		<p>In order to keep our information fresh and relevant, we occasionaly have to re-visit all of our sources.</p>
		<p>We only do this about once a month, so you should only see this loading page once, and return visits will be <i>much</i> snappier. Thanks for understanding!</p>
	</div>
</div>

<hr>
<br>
<div class="row">
	<div class="col-sm-12">
		<div class="progress">
			<div class="progress progress-striped active">
			  <div class="progress-bar progress-bar-success" id='progress_bar' role="progressbar" aria-valuenow="{{ percent }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ percent }}%">
			    <span class="sr-only"><span id='progress_percent'>{{ percent }}</span>% Complete</span>
			  </div>
			</div>
		</div>
	</div>
</div>



<div class="row">
	{% for class, status in classes.iteritems() %}
	<div class="col-sm-2 {% if loop.first %}col-sm-offset-{{ ((6 - classes|length))|int  }}{% endif %}">
		<div id="{{ class|replace('.','') }}_parent" class="panel panel-{% if status == True %}success{% else %}warning{% endif %} center">
			<div class="panel-heading">
				<h3 class="panel-title">{{ class }}</h3>
			</div>
			<div class="panel-body">
				<span id="{{ class|replace('.','') }}" class='loading'>{% if status == True %}Done!{% else %}Loading...{% endif %}</span>
			</div>
		</div>
	</div>
	{% endfor %}
</div>

<script>
var t = {{ t }};
var timer;
var s = JSON.parse('{{ classes|tojson|safe }}');
var num_done = _.filter(s, function (val) {
		return val == true;
	}).length;
function check (argument) {
	_.each(s, function (done, id) {
		if(done != true){
			url = "{{ url_for('check_view', class_id='CLASS_ID') }}".replace("CLASS_ID",id);
			$.get(url, function (data) {
				s[id] = data.loaded;
				if (data.loaded == true){
					$("#"+id.replace('.','')).text('Done!');
					$("#"+id.replace('.','')+"_parent").toggleClass('panel-warning panel-success');
					num_done += 1;
					newval = (num_done/Object.keys(s).length) * 100;
					if(newval > parseInt($('#progress_bar').attr('aria-valuenow'))){
						$('#progress_bar').css('width', newval+'%').attr('aria-valuenow', newval);
						$("#progress_percent").text(newval);
					}
				}
			});
		}
	});
	fakeVal = parseInt((((new Date().getTime() / 1000.0) - t) / Object.keys(s).length) * (10.0/{{ penalty }}));
	curr = parseInt($('#progress_bar').attr('aria-valuenow'));
	if (num_done == Object.keys(s).length) {
		window.clearInterval(timer);
		{% if can_blacklist %}
		if(fakeVal < 75){
			url = "{{ url_for('unblacklist_view', class_ids='CLASS_IDS') }}".replace("CLASS_IDS",Object.keys(s).join());
			$.get(url, function (data) {
				window.location = "{{ url }}";
			});
		}
		else{
			window.location = "{{ url }}";
		}
		{% else %}
		window.location = "{{ url }}";
		{% endif %}
	};
	if(fakeVal > curr){
		$('#progress_bar').css('width', (fakeVal)+'%').attr('aria-valuenow', (fakeVal));
		$("#progress_percent").text(fakeVal);
	}
	if(fakeVal > 125){
		{% if can_blacklist %}
		var not_done = [];
		_.filter(Object.keys(s), function (val) {
			 if(s[val] == false){
			 	not_done.push(val);
			 	return true;
			 }
			 return false;
		});
		url = "{{ url_for('blacklist_view', class_ids='CLASS_IDS') }}".replace("CLASS_IDS",not_done.join());
		$.get(url, function (data) {
			location.reload(true);
		});
		{% endif %}
		if(fakeVal % 100 == 0){
			location.reload(true);
		}
	}
}

timer = window.setInterval(check, 1000);

</script>
{% endblock %}