{% extends "_base.html" %}
{% block title %}Mobile Login{% endblock %}
{% block body %}
<h1>Mobile Login</h1>

<form id='login_form' class='form-horizontal' role='form' method="POST" action="{{ url_for('login_view') }}">
	<div class='form-group'>
		<label for='email' class='col-sm-2 control-label'>Email</label>
		<div class="col-sm-10">
			<input type='email' class='form-control' name='email' placeholder='kerberos@mit.edu' required>
		</div>
	</div>
	<div class='form-group'>
		<label for='title' class='col-sm-2 control-label'>Password</label>
		<div class="col-sm-10">
			<input type='number' min='0' class='form-control' name='password' required>
		</div>
	</div>
	<div class='form-group'>
		 <div class="col-sm-offset-2 col-sm-10">
			{# <input type='submit' id='login_submit' name='submit' value="Login" class='form-control btn btn-primary'></input> #}
		</div>
	</div>
</form>
{% endblock %}
